openapi: 3.0.3
info:
  title: 'Packy API document'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://alphapacky.com'
paths:
  /api/v1/members:
    get:
      summary: ''
      operationId: getApiV1Members
      description: ''
      parameters:
        -
          in: header
          name: X-API-KEY
          description: ''
          example: pk_nebsaibTVdyUILEzwQ5sQ5tV2d797bsu
          schema:
            type: string
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: "You don't have permission."
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "You don't have permission."
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiV1Members
      description: ''
      parameters:
        -
          in: header
          name: X-API-KEY
          description: ''
          example: pk_nebsaibTVdyUILEzwQ5sQ5tV2d797bsu
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstname:
                  type: string
                  description: ''
                  example: voluptas
                lastname:
                  type: string
                  description: ''
                  example: sunt
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: nitzsche.mya@example.com
                tag:
                  type: string
                  description: ''
                  example: nihil
                content:
                  type: string
                  description: ''
                  example: null
                photo:
                  type: string
                  description: ''
                  example: null
                link:
                  type: string
                  description: ''
                  example: null
                country:
                  type: string
                  description: 'Must not be greater than 2 characters.'
                  example: q
                timezone:
                  type: string
                  description: ''
                  example: null
              required:
                - firstname
                - lastname
                - email
                - tag
                - country
      security: []
  '/api/v1/members/{memberId}':
    get:
      summary: ''
      operationId: getApiV1MembersMemberId
      description: ''
      parameters:
        -
          in: header
          name: X-API-KEY
          description: ''
          example: pk_nebsaibTVdyUILEzwQ5sQ5tV2d797bsu
          schema:
            type: string
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: "You don't have permission."
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "You don't have permission."
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiV1MembersMemberId
      description: ''
      parameters:
        -
          in: header
          name: X-API-KEY
          description: ''
          example: pk_nebsaibTVdyUILEzwQ5sQ5tV2d797bsu
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                firstname:
                  type: string
                  description: ''
                  example: null
                lastname:
                  type: string
                  description: ''
                  example: null
                tag:
                  type: string
                  description: ''
                  example: null
                content:
                  type: string
                  description: ''
                  example: null
                photo:
                  type: string
                  description: ''
                  example: null
                link:
                  type: string
                  description: ''
                  example: null
                country:
                  type: string
                  description: ''
                  example: null
                timezone:
                  type: string
                  description: ''
                  example: null
      security: []
    delete:
      summary: ''
      operationId: deleteApiV1MembersMemberId
      description: ''
      parameters:
        -
          in: header
          name: X-API-KEY
          description: ''
          example: pk_nebsaibTVdyUILEzwQ5sQ5tV2d797bsu
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: memberId
        description: ''
        example: sed
        required: true
        schema:
          type: string
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: apiKey
      name: X-API-KEY
      in: header
      description: 'You can retrieve your api key by visiting your setting and clicking <b>Generate API Key</b>.'
security:
  -
    default: []
